--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
pydantic-settings
python-multipart
langchain
langchain-community
langchain-text-splitters
openai
chromadb
sentence-transformers
torch==2.13.0+cpu
pypdf
docx2txt
python-dotenv