--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
python-multipart

openai

langchain-chroma
langchain-community
langchain-text-splitters
langchain-huggingface
chromadb

sentence-transformers
torch==2.3.1+cpu

pypdf
docx2txt